<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
	<meta charset="utf-8">
	<title>Hello World</title>
	<link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
	<style>
		.jumbotron{
			width: 400px;
			padding: 20px;
			margin: 20px auto;
			text-align: center;
		}
		.table{
			margin-top: 20px;
		}
		.table th{
			text-align: center;
		}
		.selecionado{
		}
		.negrito{
		}
	</style>
	<script src="lib/angular/angular.js"></script>
	<script>
	angular.module("listaTelefonica", []);
	angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope){
		$scope.app = "Lista Telefônica";
		$scope.contatos = [
			{nome: "Pedro", telefone: "99998888"},
			{nome: "Ana", telefone: "99998888"},
			{nome: "Maria", telefone: "99998888"}
			
		];
		$scope.operadoras = [
			{nome: "Oi", codigo: 14, categoria: "Celular"},
			{nome: "Tim", codigo: 41, categoria: "Celular"},
			{nome: "Vivo", codigo: 15, categoria: "Celular"},
			{nome: "Claro", codigo: 17, categoria: "Celular"},
			{nome: "GVT", codigo: "25", categoria: "Fixo"},
			{nome: "Embratel", codigo: "21", categoria: "Fixo"}
		];
		$scope.adicionarContato = function(contato){
			$scope.contatos.push(angular.copy(contato));
			delete $scope.contato;
		};
	});
	</script>
</head>
<body ng-controller="listaTelefonicaCtrl">
	<div class="jumbotron">
		<h3>{{app}}</h3>
		<table class="table table-striped">
			<tr>
				<th></th>
				<th>Nome</th>
				<th>Telefone</th>
				<th>Operadora</th>
			</tr>
				<td><input type="checkbox" ng-model="contato.selecionado"></td>
				<td>{{contato.nome}}</td>
				<td>{{contato.telefone}}</td>
				<td>{{contato.operadora.nome}}</td>
			</tr>
		</table>
		<hr>{{contatos}}
		<input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome">
		<input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone">
		<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
			<option value="">Selecione uma operadora</option>
		</select>
		<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato</button>
	</div>
	
</body>
</html>